<div class="well">
	
	<h3>Attention: Part of site will be down temporarly as we are doing meintence and updating</h3>
	<h3>If you have any questions contact us <%= link_to "HERE", 'https://www.facebook.com/groups/1557416241176094/' %></h3>
	
</div>