<%= render 'nav/sales_top_nav' %>

<!-- Start introduction section -->
<div class="sales-intro-section">
  <div class="sales-video-section">
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <h1>Join The Fastest Growing Domain Marketplace Online</h1>
        <div class="col-md-12">
          <div class="videoWrapper">
            <!-- Copy & Pasted from YouTube -->
			<div><script type="text/javascript" src="//s3.amazonaws.com/cdn.leadbrite.com/leadplayer/r0038/js/leadplayer.js"></script></div><div class="lead_video" id="leadplayer_video_element_5591B35BDBAE1" style="width:853px;height:480px"></div><div><script type="text/javascript">jQLeadBrite("#leadplayer_video_element_5591B35BDBAE1").leadplayer(false, "eyJnYSI6ZmFsc2UsIm92ZXJsYXkiOmZhbHNlLCJwb3dlcmVkX2J5IjpmYWxzZSwicG93ZXJlZF9ieV9saW5rIjoiaHR0cDpcL1wvd3d3LmxlYWRwbGF5ZXIuY29tXC8iLCJjb2xvcjEiOiIjRjUwQzBDIiwiY29sb3IyIjoiI0ZGRkZGRiIsImNvbG9yMyI6IiNGNUJCMEMiLCJ0eHRfc3VibWl0IjoiU1VCTUlUIiwidHh0X3BsYXkiOiJHZXQgVXBkYXRlcyIsInR4dF9lbWwiOiJZb3VyIEVtYWlsIEFkZHJlc3MiLCJ0eHRfbmFtZSI6IllvdXIgTmFtZSIsInR4dF9pbnZhbGlkX2VtbCI6IlBsZWFzZSBlbnRlciBhIHZhbGlkIGVtYWlsIiwidHh0X2ludmFsaWRfbmFtZSI6IlBsZWFzZSBlbnRlciB5b3VyIG5hbWUiLCJscF9zb3VyY2UiOiJXUCBQbHVnaW4gMS40LjIuMSBVbmxpbWl0ZWQiLCJpZCI6IjU1OTFCMzVCREJBRTEiLCJ3aWR0aCI6ODUzLCJoZWlnaHQiOjQ4MCwidGh1bWJuYWlsIjoiIiwidGl0bGUiOiJSZXZpdmVNYXJrZXQiLCJkZXNjcmlwdGlvbiI6IiIsImF1dG9wbGF5Ijp0cnVlLCJzaG93X3RpbWVsaW5lIjp0cnVlLCJlbmFibGVfaGQiOnRydWUsIm9wdCI6ZmFsc2UsImN0YSI6ZmFsc2UsInltIjoiTzkyVEpHRUFPbGsifQ==");</script></div>
          </div>
          <div class="sales-btn-started">
			<%= link_to 'Join The Biggest Domain Marketplace Online (Free)', new_basic_subscription_path(plan_id: 6), class: 'btn btn-success' %>
          </div>
        </div>
		
      </div>
    </div>
  </div>
</div>
<!-- End introduction section -->