<div class="footer page_footer">
	<div class="container-fluid footer_links_container">
		<ul class="footer_links_ul">
			<li><%= link_to "Privacy Policy", "#" %></li>
			<li><%= link_to "Terms & Refunds", terms_path %></li>
			<li><%= link_to "Earning Disclaimer", earnings_disclaimer_path %></li>
			<li><%= link_to "General Disclaimer", general_disclaimer_path %></li>
		</ul>
	</div>
	<div class="container-fluid footer_copyright_footer_text">
		<p>Source Revive is a Division of Source Wave LLC, All Rights Reserved 2015</p>
	</div>
</div>