<%= render 'nav/sales_top_nav' %>
<section id="static-page" class="white">
	<div class="wrap">
<p>EARNINGS DISCLAIMER</p>

<p>Income Disclaimer: This website and its related marketing materials mention business strategies, marketing methods and other business advice that, regardless of the publisher's previous results and experience, may not produce the same results (or any results) for you. There is absolutely no guarantee, expressed or implied, that by following the advice or content available from SourceRevive.com you will make any money or improve current profits, as there are several factors and variables that come into play regarding any given business.</p>

<p>Primarily, results will depend on the nature of the product or business model, the conditions of the marketplace, the experience of the individual, and some situations and elements that are beyond your control.</p>

<p>As with any business endeavour, you assume all risk related to investment and money based on your own discretion and at your own potential expense.</p>

<p>Liability Disclaimer: By reading this website or the documents it offers, you assume all risks associated with using the advice given, with a full understanding that you, solely, are responsible for anything that may occur as a result of putting this information into action in any way, and regardless of your interpretation of the advice.</p>

<p>You further agree that SourceRevive.com (and its owners, officers & employees) cannot be held responsible in any way for the success or failure of your business as a result of the information provided by our company. It is your responsibility to conduct your own due diligence regarding the safe and successful operation of your business if you intend to apply any of our information in any way to your business operations.</p>

<p>In summary, you understand that we make absolutely no guarantees regarding income as a result of applying this information, as well as the fact that you are solely responsible for the results of any action taken on your part as a result of any given information.</p>

<p>In addition, for all intents and purposes you agree that the content on our website related to what might be possible with Source Revive or reselling SEO services in general is to be considered "for entertainment purposes only".</p>

<p>Always seek the advice of a professional when making financial, tax or business decisions.</p>
</div>
</section>

</div>
