<%= render 'nav/sales_top_nav' %>
<section id="static-page" class="white">
	<div class="wrap">
<h1>Refunds and Terms</h1>

<p>1. ACCESS TO SERVICE.</p>
<p>Source Revive grants you (the "user") a personal use license, which is not transferable to any other party, to use the private member's area ("dashboard") provided to you on registration and subsequent approval & activation, so that you can schedule domain scrawls via Source Revive dashboard.
.</p>

<p>2. PAYMENT FOR SERVICES.</p>
<p>2.1 Source Revive charges a monthly fee for a set amount of minutes within our system. Based on the monthly plan a set amount of minutes will be provided every month. These minutes will reset monthly regardless of use. When minutes are used the are considered spent, and no longer usable afterwards.</p>

<p>The  monthly payment also includes 30 days of use of the Source Revive dashboard. When canceled you will no longer have your minutes reset and your account will close once it has reached its 30 day interval</p>


<p>2.1 DEFINITIONS OF "SPENT Minutes” Minutes are considered to have been spent when the user creates the a crawl and the minutes are logged in our system</p>



<p>3. RESTRICTIONS:</p>
<p>The following actions are absolutely forbidden within Source Revive, and will result in immediate task cancellation, and may result in immediate account termination and a forfeiture of all unused credits, a lifetime ban from Source Revive, and possibly even legal action:</p>

<p>Using the Source Revive dashboard to promote: illegal content, products, services or items; child pornography; hateful, objectionable or defamatory content aimed at any people group, race, gender, sexual orientation or otherwise attacks on any person, business, organization, product or service; cruelty towards animals; pornographic content; prescription drugs; gambling or casinos; or otherwise content found to be objectionable, as deemed solely by Source Revive.</p>

<p>If you are unsure if your site violates our restrictions, please contact us FIRST.</p>

<p>Using software or other means to extract any data or information about Source Revive's other users, or otherwise attempting to disrupt the service.</p>

<p>Attempting to create campaigns that have the intention of negatively affecting a website's position in the major search engine results pages ("negative SEO"), as deemed solely by Source Revive.</p>

<p>4. LEGAL MARKETING ISSUES.</p>
<p>Source Revive is intended to assist the process of ethical website promotion by providing quality services. However, since laws vary from region to region, it is impossible for Source Revive to warrant that this process will comply with the local marketing and legal regulations where you reside - specifically in terms of what you are promoting, and the content used to create your site and your promotions. (For example, most countries tightly govern any marketing material connected with financial services, investments, and so on). Therefore it is entirely your responsibility to conduct due diligence to ensure that the sites you are creating comply with all applicable laws in your country, province or state.</p>

<p>Source Revive hereby disclaims all representations, claims and warranties regarding the legality of using the service or some/all of its features with respect to internet laws & marketing regulations where you reside.</p>

<p>the user (you) accepts comprehensive responsibility for the usage of Source Revive and the sites you promote with our services. it is the user's sole responsibility to ensure the legality of their publishing & marketing activities.</p>

<p>5. ABUSE AND MISUSE.</p>
<p>If Source Revive suspects that our service is being used for illegal purposes , we will contact any pertinent law enforcement agencies (as appropriate) and will provide them with any user/client information needed for the aforementioned party to conduct an official investigation. You consent to the provision of this information for any such event. You further agree to fully cooperate and, if necessary, provide assistance with all internal monitoring and investigations of our client base and the operations of our website.</p>

<p>7. DISCLAIMER OF WARRANTIES.</p>
<p>Several of the supplied functions of Source Revive use third-party data (or a custom variation thereof) and/or rely on third-party services, where Source Revive has no control over the ongoing performance, accuracy or usability of these features or services. (For example, our keyword-tracking reports available in the Reporting area of the dashboard.)</p>

<p>Source Revive hereby disclaims all representations, claims and warranties regarding the performance of the application/site and the accuracy, currency, or completeness of the information, including (without limitation) all warranties of merchantability or suitability for any given purpose.</p>

<p>furthermore, under no circumstances shall Source Revive be liable to you (the end user) for any damages whatsoever, including (without limitation) any direct, special, incidental, exemplary or consequential damages, lost profits, or any other claims of yours or third parties, even if we have been advised of the possibility of such damages.</p>

<p>You, the end user, assume all risks and potential damages (known or unknown) associated with using Source Revive in every capacity.</p>

<p>6. ENDING THE SERVICE:</p>

<p>6.1 TERMINATION. Source Revive may cancel any member account at any time and restrict access (upon canceling the payment contract as well), without notice or stated reason. Obviously, this will generally only occur in cases of member abuse in accordance with our restrictions policy, but we do still reserve the right to terminate any user account without notice, for any reason we deem suitable. In the case of abuse or violations of this user agreement, any remaining credit balance will also be forfeited.</p>

<p>6.2 CANCELLATION. Members can cancel their account at any time by contacting Source Revive via the support desk and requesting cancellation. This will result in the user being locked out of the account when their current 30 day membership</p>


<p>REFUNDS AND GUARANTEES ARE AS FOLLOWS</p>


<p>7.3 REFUNDS. Minute purchases are bought with the understanding that they are a non refundable purchase after the user has spent their first minutes in the system after the purchase of minutes. Purchases are also un-refundable after 30 days regardless of minutes used.</p>

<p>For example, if a user buys minutes for an account and does not use them they are entitled to a refund if desired in the first 30 days. After the user creates a crawl and begins use of the minutes they are non refundable. This applies to sub sequent purchases. It is up to the user to request cancellation via our support desk or cancel their subscription via their credit card or cancellation button inside the membership.</p>

<p>In the case of unauthorized or fraudulent access to your PayPal account or credit card, given adequate proof or evidence, as deemed adequate solely by Source Revive and where our staff has not yet started to work on it. You may also need to contact your payment account / credit card company as well, to ensure that your account is secure. Please note that we reserve the right to submit your claim to the relevant authorities if we are suspicious about the validity of your claim.</p>

<p>* Other similar scenarios, on a case by case (discretionary) basis and within reason. Our goal is to earn your long-term business, and we realize that sometimes, things go awry. So in legitimate cases and where we deem reasonable, existing credit balance refunds can be processed on request, and at the sole discretion of Source Revive.</p>

<p>Refunds WILL NOT BE PROCESSED ON A RESULTS BASIS. Source Revive does not guarantee results or desired outcomes after purchase. It is up to the user to use the software to find the desired results and no refunds will be processed on the basis of results</p>

<p>Refunds WILL NOT BE PROCESSED ON TECHNICAL ERRORS. The software and the systems it runs of exist largely out of Source Revives control. In case of errors or issues we will do our best to resolve these errors in a timely fashion. Our goal is your long term business, and in legitimate cases we may process refunds due to grave errors. This is left sole to Source Revive’s digression</p>


<p>No refunds of any kind will be considered for any customer if the most recent credit purchase occurred 60 days or more, prior to the refund request.</p>

<p>8. INDEMNIFICATION.</p>
<p>You agree that you shall indemnify and hold harmless Source Revive, its directors, affiliates, employees and agents against any and all direct or indirect losses, claims, demands, expenses (including attorneys' fees) or liabilities of any such nature or kind arising out of your use of our site or our service.</p>

<p>We reserve the right to amend, add to or otherwise edit this Terms of Service agreement at any time, without notice.</p>

<p>Furthermore, these restricted practices are specific only to the Source Revive user license. There are many other restricted practices from a legal standpoint (such as proper disclosures, FTC regulations, etc.), which are your sole responsibility to research and apply according to your business location, where your business conducts transactions, and many other applicable factors.</p>

<p>By ordering our service, you agree to the above Terms of Service. You also verify that you have read, and comprehensively understand our Disclaimer.</p>


<b>Disclaimers</b>

<b>No Warranties</b>

<p>This website is provided "as is" without any representations or warranties, express or implied. SourceRevive.com makes no representations or warranties in relation to this webSourceRevive.comsite or the information and materials provided on this website.</p>

<p>Without prejudice to the generality of the foregoing paragraph, SourceRevive.com does not warrant that:</p>

<p>•  this website will be constantly available, or available at all; or</p>
<p>•  the information on this website is complete, true, accurate or non-misleading.</p>

<p>Nothing on this website constitutes, or is meant to constitute, advice of any kind. If you require advice in relation to any legal or financial matter you should consult an appropriate professional.</p>

<b>Limitations of Liability</b>

<p>SourceRevive.com will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:</p>

<p>•  for any indirect, special or consequential loss; or</p>
<p>•  for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</p>

<p>These limitations of liability apply even if SourceRevive.com has been expressly advised of the potential loss.</p>

<b>Exceptions</b>

<p>Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit SourceRevive.com's liability in respect of any:</p>

<p>•  death or personal injury caused by SourceRevive.com's negligence;</p>
<p>•  fraud or fraudulent misrepresentation on the part of SourceRevive.com; or</p>
<p>•  matter which it would be illegal or unlawful for SourceRevive.com to exclude or limit, or to attempt or purport to exclude or limit, its liability.</p>

<b>Reasonableness</b>

<p>By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.</p>

<p>If you do not think they are reasonable, you must not use this website.</p>

<b>Other Parties</b>

<p>You accept that, as a limited liability entity, SourceRevive.com has an interest in limiting the personal liability of its officers and employees. You agree that you will not bring any claim personally against SourceRevive.com's officers or employees in respect of any losses you suffer in connection with the website.</p>

<p>Without prejudice to the foregoing paragraph, you agree that the limitations of warranties and liability set out in this website disclaimer will protect SourceRevive.com's officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well as SourceRevive.com.</p>

<b>Unenforceable Provisions</b>

<p>If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.</p>

<b>This Website Disclaimer</b>

<p>This website disclaimer is based on a precedent created by template-contracts.co.uk and published by freenetlaw.com</p>

<b>EARNINGS DISCLAIMER</b>

<p>Income Disclaimer: This website and its related marketing materials mention business strategies, marketing methods and other business advice that, regardless of the publisher's previous results and experience, may not produce the same results (or any results) for you. There is absolutely no guarantee, expressed or implied, that by following the advice or content available from SourceRevive.com you will make any money or improve current profits, as there are several factors and variables that come into play regarding any given business.</p>

<p>Primarily, results will depend on the nature of the product or business model, the conditions of the marketplace, the experience of the individual, and some situations and elements that are beyond your control.</p>

<p>As with any business endeavour, you assume all risk related to investment and money based on your own discretion and at your own potential expense.</p>

<p>Liability Disclaimer: By reading this website or the documents it offers, you assume all risks associated with using the advice given, with a full understanding that you, solely, are responsible for anything that may occur as a result of putting this information into action in any way, and regardless of your interpretation of the advice.</p>

<p>You further agree that SourceRevive.com (and its owners, officers & employees) cannot be held responsible in any way for the success or failure of your business as a result of the information provided by our company. It is your responsibility to conduct your own due diligence regarding the safe and successful operation of your business if you intend to apply any of our information in any way to your business operations.</p>

<p>In summary, you understand that we make absolutely no guarantees regarding income as a result of applying this information, as well as the fact that you are solely responsible for the results of any action taken on your part as a result of any given information.</p>

<p>In addition, for all intents and purposes you agree that the content on our website rela</p>


