<div class='revive_top_nav_header_container'>
	<div class='revive_top_nav_logo text-center'>
		<a class="navbar-brand" href="/"></a>
	</div>
</div>

<div class="login_form_container">
  <h2 class='text-center'>
		Welcome to Source Revive<br><br>
		  <!-- LeadPlayer video embed code start [ video: 56183C00B571F ] --><div><script type="text/javascript" src="//s3.amazonaws.com/cdn.leadbrite.com/leadplayer/r0038/js/leadplayer.js"></script></div><div class="lead_video" id="leadplayer_video_element_56183C00B571F" style="width:853px;height:480px"></div><div><script type="text/javascript">jQLeadBrite("#leadplayer_video_element_56183C00B571F").leadplayer(false, "eyJnYSI6ZmFsc2UsIm92ZXJsYXkiOmZhbHNlLCJwb3dlcmVkX2J5IjpmYWxzZSwicG93ZXJlZF9ieV9saW5rIjoiaHR0cDpcL1wvd3d3LmxlYWRwbGF5ZXIuY29tXC8iLCJjb2xvcjEiOiIjRjUwQzBDIiwiY29sb3IyIjoiI0ZGRkZGRiIsImNvbG9yMyI6IiNGNUJCMEMiLCJ0eHRfc3VibWl0IjoiU1VCTUlUIiwidHh0X3BsYXkiOiJHZXQgVXBkYXRlcyIsInR4dF9lbWwiOiJZb3VyIEVtYWlsIEFkZHJlc3MiLCJ0eHRfbmFtZSI6IllvdXIgTmFtZSIsInR4dF9pbnZhbGlkX2VtbCI6IlBsZWFzZSBlbnRlciBhIHZhbGlkIGVtYWlsIiwidHh0X2ludmFsaWRfbmFtZSI6IlBsZWFzZSBlbnRlciB5b3VyIG5hbWUiLCJscF9zb3VyY2UiOiJXUCBQbHVnaW4gMS40LjIuMSBVbmxpbWl0ZWQiLCJpZCI6IjU2MTgzQzAwQjU3MUYiLCJ3aWR0aCI6ODUzLCJoZWlnaHQiOjQ4MCwidGh1bWJuYWlsIjoiIiwidGl0bGUiOiJQaXgiLCJkZXNjcmlwdGlvbiI6IiIsImF1dG9wbGF5Ijp0cnVlLCJzaG93X3RpbWVsaW5lIjp0cnVlLCJlbmFibGVfaGQiOnRydWUsIm9wdCI6ZmFsc2UsImN0YSI6ZmFsc2UsInltIjoiU09YUmpuVGM3QWcifQ==");</script></div><!-- LeadPlayer video embed code end [ video: 56183C00B571F ] -->
		    <br><br>
		    <%= link_to "Click Here To Join The Facebook Group", "https://www.facebook.com/groups/1557416241176094/", target: '_new' %>
	</h2>

  <div class="field_container text-center pink_form_submit_btn_container">
    <div class="field_label">
      <%= link_to "Continue to your dashboard", dashboard_path, class: 'btn pink_form_submit_btn' %>
    </div>
  </div>


</div>

<%= render 'dashboard/tracking' %>
