<div class="main_page_container">
	
	<div class='reactivate_header_container'>
		<div class="row">
			<div class='col-xs-12 text-center'>
				<h1>Confirm Your Free 3 Day Trial</h1>
			</div>
		</div>
	
		<div class="row">
	  	  <div class='col-xs-3'></div>
	  	  <div class='col-xs-6 text-center'>
	  		  You will be able to use Revive for 3 days free and then you will be charged on the beggining of the 4th day</div>
	  	  <div class='col-xs-3'></div>
		</div>
	</div>

	

	<div class='reactivate_plan_container'>
		<div class="home_section_container">
			<div class="home_middle_container">
				<!-- <div class="row">
					<div class="text-center">
						<div class="home_video_headline text-center">
							<h1 class="pink_text">Charter Discount Pricing Closes In</h1>
						</div>
						<iframe width="334" height="115" src="https://w2.countingdownto.com/892597" frameborder="0"></iframe>
					</div>
				</div> -->
				<div class="row">
				
					<div class="col-xs-4">
						<div class="pricing_plan_container text-center">
							<div class="plan_title"><h1 class="white-text black_bold_text">EMT</h1></div>
							<div class="pricing_text_container">
								<div><h1 class="white-text black_bold_text">TRIAL</h1></div>
								<div><h4>$199 / per month</h4></div>
							</div>
							<div class="pricing_feature"><h4 class="light_blue_text">Unlimited Domains</h4></div>
							<div class="pricing_feature"><h4 class="light_blue_text">1 Active Project</h4></div>
							<div class="pricing_feature"><h4 class="light_blue_text">For Small/Medium PBNs</h4></div>
							<div class="pricing_feature"><h4 class="light_blue_text">2000 Crawl Minutes</h4></div>
							<div class="pricing_btn">
								
								<%= link_to 'REACTIVATE', create_trial_for_existing_customer_path('plan_id' => 1, 'trial_end' => 3), data: {confirm: 'Yes I want to Sign Up for the 3 day Free Trial to Source Revive!'} %>
							</div>
						</div>
					</div>
				
					<div class="col-xs-4">
						<div class="pricing_plan_container text-center">
							<div class="plan_title pink_title"><h1 class="white-text black_bold_text">DOCTOR</h1></div>
							<div class="pricing_text_container">
								<div><h1 class="white-text black_bold_text">TRIAL</h1></div>
								<div><h4>$297 per month</h4></div>
							</div>
							<div class="pricing_feature"><h4 class="light_blue_text">Unlimited Domains</h4></div>
							<div class="pricing_feature"><h4 class="light_blue_text">1 Active Project</h4></div>
							<div class="pricing_feature"><h4 class="light_blue_text">For Large PBNs</h4></div>
							<div class="pricing_feature yellow_sub"><h4 class="light_blue_text">4000 Crawl Minutes</h4></div>
							<div class="pricing_btn">
								<%= link_to 'REACTIVATE', create_trial_for_existing_customer_path('plan_id' => 3, 'trial_end' => 3), data: {confirm: 'Yes I want to Sign Up for the 3 day Free Trial to Source Revive!'} %>
							</div>
						</div>
					</div>
				
					<div class="col-xs-4">
						<div class="pricing_plan_container text-center">
							<div class="plan_title yellow_title"><h1 class="white-text black_bold_text">IMMORTAL</h1></div>
							<div class="pricing_text_container">
								<!-- <div class="yellow_sub"><h4>Best Value</h4></div> -->
								<div><h1 class="white-text black_bold_text">TRIAL</h1></div>
								<div><h4>$497 per month</h4></div>
							</div>
							<div class="pricing_feature"><h4 class="light_blue_text">Unlimited Domains</h4></div>
							<div class="pricing_feature"><h4 class="light_blue_text">2 Active Projects</h4></div>
							<div class="pricing_feature"><h4 class="light_blue_text">For Agency Level PBNs</h4></div>
							<div class="pricing_feature"><h4 class="light_blue_text">8000 Crawl Minutes</h4></div>
							<div class="pricing_btn">
								<%= link_to 'REACTIVATE', create_trial_for_existing_customer_path('plan_id' => 4, 'trial_end' => 3), data: {confirm: 'Yes I want to Sign Up for the 3 day Free Trial to Source Revive!'} %>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
	</div>
	
</div>