@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	/*
	// bottom cut fixes
	#hp-intro:after, #hp-intro:before { bottom: -1px!important; }
	#hp-sales-management:after, #hp-sales-management:before { bottom: -1px!important; }
	#hp-site-rental:before { left: 1px!important; }
	#hp-sign-up .blue-block:after, #hp-sign-up .blue-block:before { bottom: -1px!important; }
	*/
}