// Place all the styles related to the crawls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#crawl_start_date_input {
	padding-left: 0px;
	margin-bottom: 15px;
}

#crawl_end_date_input {
	padding-right: 0px;
	margin-bottom: 15px;
}
