// Place all the styles related to the domains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel_pink_heading {
	background-color: $pink !important;
}
