.left_nav_bg {
  background-color: #222;
}

.left_nav_container {
  width: 100px;
  padding: 0px;
}

ul .left_nav_link_container {
  width: 100%;
}

.left_nav_container li {
  font-family: 'Open Sans';
  width: 100%;
  text-align: center;
  padding: 20px 0;
  a {
    color: #555555;
  }
  &.active {
    a {
      color: $pink;
    }
  }
}

.left_nav_container a:hover {
  color: $pink;
}

.left_nav_container .glyph_text {
  width: 100%;
  display: inline-block;
  padding-top: 5px;
}

