<div class="row text-center lander_feature_container_row">
	
	<div class="blue_foother_text">
		<h1>START HUNTING NOW</h1>
	</div>
	
	<div class="blue_target_img_container">
		<%= link_to "Start Your 7 Day Free Trial", signup_path(plan_id: 2, free_trial: 'true'), class: 'btn btn-default btn-lg btn-block' %>
	</div>
</div>