<div class="row text-center feature_header_container lander_feature_container_row">
	
	<div class="home_video_headline">
		<h1>No Thought Needed Interface</h1>
	</div>
	
	<div class="col-xs-2"></div>
	<div class="col-xs-8">
		<div class="headline_container">
			<div class="subheadline_text white-text">
				<p>All this is included inside a “any level” friend interface that requires NO technical knowledge or extra addons</p>
			</div>
		</div>
	</div>
	<div class="col-xs-2"></div>
		
</div>