<div class="row text-center feature_header_container lander_feature_container_row">
		
	<div class="feature_thumb_img">
		<%= image_tag 'chart_icon.jpg' %>
	</div>
	
	<div class="col-xs-2"></div>
	<div class="col-xs-8">
		<div class="headline_container">
			<div class="headline_text">
				<h2>Access To The Most Powerful SEO Domains Online</h2>
			</div>
			<div class="subheadline_text">
				<p>It is common knowledge that building your own network of powerful high authoritydomains is the holy grail of SEO link building</p>
			</div>
			
			<div class="description_text">
				<p>
					The only issue is it time consuming and extremely expensive. Untill now
				</p>
			</div>
		</div>
	</div>
	<div class="col-xs-2"></div>
		
</div>

<div class="row text-center lander_feature_container_row">
	<div class="rank_tracker_chart_img_container">
		<%= image_tag "domains_found_this_week.jpg" %>
	</div>
</div>

<div class="row">
	<div class="row thumb_feature_row_container lander_feature_container_row">
		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-2">
					<div class="thumb_feature_img_container">
						<%= image_tag "pad_icon.jpg" %>
					</div>
				</div>
				<div class="col-xs-10">
					<div class="thumb_feature_headline">
						<h4>Push Button Power Domain Lists</h4>
					</div>
					<div class="thumb_feature_headline">
						<p>At the push of a button Revive will deliver you a custom list of high powered quality relevant unregistered domains for you use for your PBN</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-2">
					<div class="thumb_feature_img_container">
						<%= image_tag "piggy_icon.jpg" %>
					</div>
				</div>
				<div class="col-xs-10">
					<div class="thumb_feature_headline">
						<h4>Save Thousands On Your Link Building</h4>
					</div>
					<div class="thumb_feature_headline">
						<p>Building a authority site network you own will cost youhundreds to thousands of dollars. With Revive you can build your entire network for 1/20th the cost</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>