<div class="row text-center feature_header_container lander_feature_container_row">
	
	<div class="col-xs-2"></div>
	<div class="col-xs-8">
		<div class="headline_container requires_container">
			<div class="headline_text white-text">
				<h2>REVIVE REQUIRES ABSOLUTLEY NO</h2>
			</div>
			
			<div class="subheadline_text white-text">
				<p>Technical knowledge</p>
			</div>
			
			<div class="subheadline_text white-text">
				<p>Additional purchases</p>
			</div>
			
			<div class="subheadline_text white-text">
				<p>Complicated data entry</p>
			</div>
			
			<div class="subheadline_text white-text">
				<p>PHD in domain finding</p>
			</div>
			
			<div class="subheadline_text white-text">
				<p>Proxies, fake accounts, etc</p>
			</div>
			
		</div>
	</div>
	<div class="col-xs-2"></div>
		
</div>