<div class="row text-center">
	
	<div class="home_video_headline">
		<h1>Never Pay More Than $9 For A PR Link Again</h1>
	</div>

	<div class="home_video_container">
		
	</div>
	
	<div class="green_btn_container">
		<%= link_to "Check Prices", plans_path, class: 'btn btn-lg btn-block' %>
	</div>
	
	<div class="row trust_logos">
		<div class="col-xs-2"></div>
		<div class="col-xs-4">
			<div class="row">
				<div class="col-xs-2">
					<div class="trust_logo_headline_img">
						<%= image_tag "http://www.leadpages.net/wp-content/themes/leadpages2014/images/new/homepage/30-badge.png" %>
					</div>
				</div>
				<div class="col-xs-10">
					<div class="trust_logo_headline pull-left">
						<p>30 DAY MONEY-BACK GUARANTEE</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-4">
			<div class="row">
				<div class="col-xs-2">
					<div class="trust_logo_headline_img">
						<%= image_tag "http://www.leadpages.net/wp-content/themes/leadpages2014/images/new/homepage/secure-lock.png" %>
					</div>
				</div>
				<div class="col-xs-10">
					<div class="trust_logo_headline pull-left">
						<p>SECURE CHECKOUT</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-2"></div>
	</div>
	
</div>