<div class="row text-center">
	
	<div>
		<%= image_tag 'logo.png' %>
	</div>
	
	<div class="home_video_headline">
		<h1>The Simplest SEO Rank Tracking On Planet Earth</h1>
	</div>

	<div class="home_video_container">
		<iframe src="//fast.wistia.net/embed/iframe/mxklom04bz?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="853" height="480"></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
	</div>
	
	<div class="green_btn_container">
		<%= link_to "Start Your 7 Day Free Trial", signup_path(plan_id: 2, free_trial: 'true'), class: 'btn btn-success btn-lg btn-block' %>
	</div>
	
	<div class="row trust_logos">
		<div class="col-xs-2"></div>
		<div class="col-xs-4">
			<div class="row">
				<div class="col-xs-2">
					<div class="trust_logo_headline_img">
						<%= image_tag "http://www.leadpages.net/wp-content/themes/leadpages2014/images/new/homepage/30-badge.png" %>
					</div>
				</div>
				<div class="col-xs-10">
					<div class="trust_logo_headline pull-left">
						<p>30 DAY MONEY-BACK GUARANTEE</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-4">
			<div class="row">
				<div class="col-xs-2">
					<div class="trust_logo_headline_img">
						<%= image_tag "http://www.leadpages.net/wp-content/themes/leadpages2014/images/new/homepage/secure-lock.png" %>
					</div>
				</div>
				<div class="col-xs-10">
					<div class="trust_logo_headline pull-left">
						<p>SECURE CHECKOUT</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-2"></div>
	</div>
	
</div>