<%= render 'nav/sales_top_nav' %>

<section id="blue-header" class="blue">
	<div class="wrap">
		<h1>Simple, Flexible Pricing</h1>
		<p>Plans for every level of SEO</p>
	</div>
</section>

<section id="pricing" class="white">
	<div class="wrap">
		<h2>There is no limit to the amount of PBN you can find and sell in our system</h2>

		<p class="subtitle">On average for every 45 minutes of crawl time members find 3-5 good domains</p>

		<div class="flex">

			<div class="item">
				<h3>EMT</h3>
				<ul>
					<li>Unlimited Domains</li>
					<li>1 Active Project</li>
					<li>For Small PBNs</li>
					<li>3000 Crawl Minutes</li>
				</ul>
				<%= link_to '$199 / month', signup_path(plan_id: 1), class: 'btn' %>
			</div>

			<div class="item best">
				<h3>Doctor</h3>
				<ul>
					<li>Domain Seller License</li>
					<li>Unlimited Domains</li>
					<li>1 Active Project</li>
					<li>For Medium PBNs</li>
					<li>Unlimited Crawl Minutes</li>
				</ul>
				<%= link_to '$297 / month', signup_path(plan_id: 3), class: 'btn' %>
			</div>

			<div class="item">
				<h3>Immortal</h3>
				<ul>
					<li>Domain Seller License</li>
					<li>Unlimited Domains</li>
					<li>3 Active Projects</li>
					<li>For Huge PBNs and Sellers</li>
					<li class="orange">Unlimited Crawl Minutes</li>
				</ul>
				<%= link_to '$497 / month', signup_path(plan_id: 3), class: 'btn' %>
			</div>

		</div>
	</div>
</section>

</div>
